
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
    var listNew = (List<SweepCake.Models.Cake_Dentals>)ViewBag.NewCake;
    var listHot = (List<SweepCake.Models.Cake_Dentals>)ViewBag.HotCake;
}

<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<div class="container">
    <div class="img-slider">
        <!----start-slider-script---->
        <script src="js/responsiveslides.min.js"></script>
        <script>
            // You can also use "$(window).load(function() {"
            $(function () {
                // Slideshow 4
                $("#slider4").responsiveSlides({
                    auto: true,
                    pager: true,
                    nav: true,
                    speed: 500,
                    namespace: "callbacks",
                    before: function () {
                        $('.events').append("<li>before event fired.</li>");
                    },
                    after: function () {
                        $('.events').append("<li>after event fired.</li>");
                    }
                });

            });
        </script>
        <!----//End-slider-script---->
        <!-- Slideshow 4 -->
        <div id="top" class="callbacks_container">
            <ul class="rslides" id="slider4">
                <li>
                    <img src="~/Images/slide.jpg" class="img-responsive" alt="">
                    <div class="slider-caption">
                        <div class="slider-caption-left text-center">
                            <h1>ARE YOU LOOKING FOR SWEET, STYLISH AND DELECIOUS BIRTHDAY CAKES?</h1>
                            <p>DON'T WORRY, WE CAN HELP YOU! CHECK OUR BEST CAKE SECTION.</p>
                            @*<a class="buy-btn" href="#">Buy Now</a>*@
                        </div>
                        <div class="slider-caption-right">
                            <a href="#"><img src="~/Images/iteam.png" class="img-responsive" title="name" /></a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <!-- share-on -->
                    <div class="share-on">
                        <div class="share-on-grid">
                            <div class="share-on-grid-left">
                                <h3>Share On</h3>
                            </div>
                            <div class="share-on-grid-right">
                                <a href="https://www.facebook.com/nucuoihongkho/"><span class="facebook"> </span></a>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <!-- share-on -->
                </li>
                @*<li>
                        <img src="~/Images/slide.jpg" class="img-responsive" alt="">
                        <div class="slider-caption">
                            <div class="slider-caption-left text-center">
                                <h1>ARE YOU LOOKING FOR SWEET, STYLISH AND DELECIOUS BIRTHDAY CAKES?</h1>
                                <p>DON'T WORRY, WE CAN HELP YOU! CHECK OUR BEST CAKE SECTION.</p>
                                <a class="buy-btn" href="#">Buy Now</a>
                            </div>
                            <div class="slider-caption-right">
                                <a href="#"><img src="~/Images/iteam.png" class="img-responsive" title="name" /></a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <!-- share-on -->
                        <div class="share-on">
                            <div class="share-on-grid">
                                <div class="share-on-grid-left">
                                    <h3>Share On</h3>
                                </div>
                                <div class="share-on-grid-right">
                                    <a href="#"><span class="facebook"> </span></a>
                                    <a href="#"><span class="twitter"> </span></a>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>


                        <!-- share-on -->

                    </li>
                    <li>
                        <img src="~/Images/slide.jpg" class="img-responsive" alt="">
                        <div class="slider-caption">
                            <div class="slider-caption-left text-center">
                                <h1>ARE YOU LOOKING FOR SWEET, STYLISH AND DELECIOUS BIRTHDAY CAKES?</h1>
                                <p>DON'T WORRY, WE CAN HELP YOU! CHECK OUR BEST CAKE SECTION.</p>
                                <a class="buy-btn" href="#">Buy Now</a>
                            </div>
                            <div class="slider-caption-right">

                                <a href="/product/products"><img src="~/Images/iteam.png" class="img-responsive" title="name" /></a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <!-- share-on -->
                        <div class="share-on">
                            <div class="share-on-grid">
                                <div class="share-on-grid-left">
                                    <h3>Share On</h3>
                                </div>
                                <div class="share-on-grid-right">
                                    <a href="#"><span class="facebook"> </span></a>
                                    <a href="#"><span class="twitter"> </span></a>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <!-- share-on -->
                    </li>
                    <li>
                        <img src="~/Images/slide.jpg" class="img-responsive" alt="">
                        <div class="slider-caption">
                            <div class="slider-caption-left text-center">
                                <h1>ARE YOU LOOKING FOR SWEET, STYLISH AND DELECIOUS BIRTHDAY CAKES?</h1>
                                <p>DON'T WORRY, WE CAN HELP YOU! CHECK OUR BEST CAKE SECTION.</p>
                                <a class="buy-btn" href="#">Buy Now</a>
                            </div>
                            <div class="slider-caption-right">
                                <a href="#"><img src="~/Images/iteam.png" class="img-responsive" title="name" /></a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <!-- share-on -->
                        <div class="share-on">
                            <div class="share-on-grid">
                                <div class="share-on-grid-left">
                                    <h3>Share On</h3>
                                </div>
                                <div class="share-on-grid-right">
                                    <a href="#"><span class="facebook"> </span></a>
                                    <a href="#"><span class="twitter"> </span></a>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <!-- share-on -->
                    </li>*@
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- /banner -->
</div>
<!-- top-grids -->

<div class="top-grids">
    <div class="container">
        @foreach (var item in listNew)
        {

            var link = "/AddCake/" + item.ID;
            var detail = "/detail/" + item.ID;

            <div class="col-md-4 top-grid">
                <div class="top-grid-head">
                    <h3>@item.Name</h3>
                </div>
                <div class="top-grid-info" data-id="@item.ID">
                    <a href="@detail"><img src="@item.Image1" class="img-responsive" title="@item.Name" /></a>

                    <p>@item.Decripsion</p>
                    <span>$ @item.Price</span>
                    <div class="clearfix"> </div>
                    <div class="buy">
                        <a class="btn" data-id="@item.ID" @*onkeypress="@Html.Action("AddItem","Cart",new { @productId = item.ID,@quantity = 1 })"*@>Buy Now</a>

                    </div>

                </div>
            </div>
        }
        @*<div class="col-md-4 top-grid">
                <div class="top-grid-head">
                    <h3>OUR CAKES</h3>
                </div>
                <div class="top-grid-info">
                    <img src="~/Images/img1.jpg" class="img-responsive" title="name" />
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                    <span>$60</span>
                    <div class="clearfix"> </div>
                    <a class="btn" href="#">Buy Now</a>
                </div>
            </div>
            <div class="col-md-4 top-grid">
                <div class="top-grid-head">
                    <h3>OUR CAKES</h3>
                </div>
                <div class="top-grid-info">
                    <img src="~/Images/img2.jpg" class="img-responsive" title="name" />
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                    <span>$80</span>
                    <div class="clearfix"> </div>
                    <a class="btn" href="#">Buy Now</a>
                </div>
            </div>
            <div class="col-md-4 top-grid">
                <div class="top-grid-head">
                    <h3>OUR CAKES</h3>
                </div>
                <div class="top-grid-info">
                    <img src="~/Images/img3.jpg" class="img-responsive" title="name" />
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                    <span>$120</span>
                    <div class="clearfix"> </div>
                    <a class="btn" href="#">Buy Now</a>
                </div>
            </div>*@
    </div>
    <!-- top-grids-bg -->
    <div class="top-grids-bg">
        <span> </span>
    </div>
    <!-- top-grids-bg -->
</div>
<!-- top-grids -->
<!-- bottom-grids -->

<div class="bottom-grids">
    <div class="container">
        <div class="col-md-8 bottom-grid-left">
            @foreach (var aaa in listHot)
            {
                var link = "/detail/" + aaa.ID;
                <div class="col-md-3 bottom-grid-left-grid text-center" data-id="@aaa.ID">
                    <a href="@link"> <img src="@aaa.Image1" title="@aaa.Name" class="best-sale-img" /></a>

                    <h4>@aaa.Name</h4>
                    <p>$ @aaa.Price</p>
                </div>

            }
            @*<div class="col-md-3 bottom-grid-left-grid text-center">
                    <img src="~/Images/pic2.jpg" title="name" />
                    <h4>kids birthday cake</h4>
                    <p>$40</p>
                </div>
                <div class="col-md-3 bottom-grid-left-grid text-center">
                    <img src="~/Images/pic1.jpg" title="name" />
                    <h4>kids birthday cake</h4>
                    <p>$40</p>
                </div>
                <div class="col-md-3 bottom-grid-left-grid text-center">
                    <img src="~/Images/pic3.jpg" title="name" />
                    <h4>kids birthday cake</h4>
                    <p>$40</p>
                </div>
                <div class="col-md-3 bottom-grid-left-grid text-center">
                    <img src="~/Images/pic4.jpg" title="name" />
                    <h4>kids birthday cake</h4>
                    <p>$40</p>
                </div>*@
            <div class="clearfix"> </div>
            <span class="best-sale">Best sellers</span>
            <a href="/product/products" class="order"> </a>
        </div>
        <div class="col-md-4 bottom-grid-right">
            <div class="fb-page" data-href="https://www.facebook.com/nucuoihongkho/" data-tabs="timeline" data-width="350" data-height="243" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/nucuoihongkho/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/nucuoihongkho/">Và nụ cười sẽ hong khô tất cả</a></blockquote></div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div id="fb-root"></div>
<script>
    $('.buy a').click(function () {
        buycake(this);
    });
    function buycake(buyButton) {
        var cake_id = $(buyButton).data('id');
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
                document.getElementById("demo").innerHTML = xhttp.responseText;
            }
        };
        var num = prompt("Please enter the amount you need to buy :", "1");
        xhttp.open("POST", "/AddCake?productId=" + cake_id + "&quantity="+num, true);

        //alert("Added Cart");
        xhttp.send();
    }
</script>
<!-- bottom-grids -->
<!-- /container -->
