@model List<SweepCake.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";

}
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/cart.css" rel="stylesheet" />
<script>
    // Remove Items From Cart
    $('a.remove').click(function () {s
        event.preventDefault();
        $(this).parent().parent().parent().hide(400);

    })

    // Just for testing, show all items
    $('a.btn.continue').click(function () {
        $('li.items').show(400);
    })
</script>
<div class="wrap cf">
    <h1 class="projTitle">Responsive Table<span>-Less</span> Shopping Cart</h1>
    <div class="heading cf">
        <h1>My Cart</h1>
        <a href="/HomePage/index" class="continue">Continue Shopping</a>
    </div>
    <div class="cart">
        <!--    <ul class="tableHead">
              <li class="prodHeader">Product</li>
              <li>Quantity</li>
              <li>Total</li>
               <li>Remove</li>
            </ul>-->
        <ul class="cartWrap" style="padding-left: 0;">
            @if (Model.Count > 0)
            {

                var count = 0;
                foreach (var item in Model)
                {

                    if ((count++ % 2) == 0)
                    {
                        <li class="items odd">
                            <div class="infoWrap">
                                <div class="cartSection">

                                    <img src="@Html.Action("Image1","Cart",item.Cake.Cake_ID)" alt="" class="itemImg" />
                                    <p class="itemNumber">#@item.Cake.Cake_ID</p>
                                    <h3>@item.Cake.Cake_Name</h3>

                                    <p> <input type="text" class="qty" placeholder="@item.Quantity" id="@item.Cake.Cake_ID" /> x @item.Cake.Cake_Price.GetValueOrDefault(0)₫</p>

                                    <p class="stockStatus"> In Stock</p>
                                </div>


                                <div class="prodTotal cartSection">
                                    <p>@(item.Quantity * item.Cake.Cake_Price.GetValueOrDefault(0))₫</p>

                                </div>
                                <div class="product-interactions">
                                    <div class="buttonCart plus">
                                        +
                                    </div>
                                    <div class="buttonCart minus">
                                        -
                                    </div>
                                    <div class="buttonCart del"></div>
                                </div>
                                @*<div class="cartSection removeWrap">
                                        <a href="#" class="remove">x</a>
                                    </div>*@
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="items even">
                            <div class="infoWrap">
                                <div class="cartSection">

                                    <img src="@Html.Action("Image1","Cart",item.Cake.Cake_ID)" alt="" class="itemImg" />
                                    <p class="itemNumber">#@item.Cake.Cake_ID</p>
                                    <h3>@item.Cake.Cake_Name</h3>

                                    <p> <input type="text" class="qty" placeholder="@item.Quantity" /> x @item.Cake.Cake_Price.GetValueOrDefault(0)₫</p>

                                    <p class="stockStatus"> In Stock</p>
                                </div>


                                <div class="prodTotal cartSection">
                                    <p>@(item.Quantity * @item.Cake.Cake_Price.GetValueOrDefault(0))₫</p>
                                </div>
                                <div class="product-interactions">
                                    <div class="buttonCart plus">
                                        +
                                    </div>
                                    <div class="buttonCart minus">
                                        -
                                    </div>
                                    <div class="buttonCart del"></div>
                                </div>
                                @*<div class="cartSection removeWrap">
                                        <a href="#" class="remove">x</a>
                                    </div>*@
                            </div>
                        </li>
                    }
                }
            }


            <!--<li class="items even">Item 2</li>-->

        </ul>
    </div>

    <div class="promoCode">
        <label for="promo">Have A Promo Code?</label><input type="text" name="promo" placholder="Enter Code" />
        <a href="#" class="btn" style="margin-top: 0em;"></a>
    </div>

    <div class="subtotal cf">
        <ul>
            <li class="totalRow"><span class="label">Subtotal</span><span class="value">@Model.Sum(m => m.Quantity * m.Cake.Cake_Price)</span></li>

            <li class="totalRow"><span class="label">Shipping</span><span class="value">0</span></li>

            <li class="totalRow"><span class="label">Tax</span><span class="value">@Model.Sum(m => (m.Quantity * m.Cake.Cake_Price) * 0.1)</span></li>
            <li class="totalRow final"><span class="label">Total</span><span class="value">@Model.Sum(m => (m.Quantity * m.Cake.Cake_Price) * 1.1)</span></li>
            <li class="totalRow"><a href="#" class="btn continue" style="border-right-width: 100px;">Checkout</a></li>
        </ul>
    </div>
</div>
<script>
    var amountInput = document.querySelector('#');
    var showInput = document.querySelector('#');
    amountInput.oninput = function () {
        showInput.textContent = amountInput.value;
    }
</script>
<script src="~/Scripts/index.js"></script>